.vscode
.npmignore
.editorconfig
.eslint.config.js
.prettierrc
.github/
build/
src/
sample/
fs-provider/src/
fs-provider/node_modules/

.vscode-test-web/
tsconfig.json
tslint.json
webpack.config.js

**/*.js.map
**/*.d.ts
!out/server/index.d.ts
!out/test-helpers/**/*.d.t
*.tgz